<appSettings>
  <add key="BrowserType" value="chrome" />
  <add key="BaseUrl" value="https://www.nuget.org"/>
  <add key="ExplicitlyWaitSecond" value="30" />
  <add key="ImplicitlyWaitSecond" value="50" />
  <add key="WaitTimeMultiplier" value="1.5" />
  <add key="WebDriverConfigurationFile" value="webDriverDemo.json"/>
</appSettings>